//@import "./../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss"
@import "./../node_modules/bootstrap/scss/bootstrap.scss"

//body
  background: #000 !important




.test-class
  //color: gray
  //font-weight: bold

.counter-online
  color: #484848 !important
  b
    color: green

.bg-eee
  background: #eee

.date-msg
  float: right
  margin: -40px 0 0 0
  color: #aaa
  font-size: 13px
